<template>
  <div>
    <v-app-bar app>

      <!-- Navigation Icon -->
      <v-app-bar-nav-icon @click.stop="showNavigationDrawer = !showNavigationDrawer"></v-app-bar-nav-icon>

      <!-- Project Icon, Account Name, Account Balance -->
      <v-list-item style="margin-left: 0px; padding-left: 0px;">
        <router-link to="/" style="text-decoration: none;">
          <v-list-item-icon style="margin-left: 0px; margin-right: 8px;">
            <v-icon :size="40">storefront</v-icon>
          </v-list-item-icon>
        </router-link>
        <v-list-item-content>
          <v-list-item-title>
            {{ projectName }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ projectShortDescription }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <!-- V-Spacer -->
      <v-spacer></v-spacer>

      <OrderProductButton />
      <UploadProductButton />

      <!-- Tabs routing -->
      <template v-slot:extension>
        <v-tabs show-arrows centered background-color="transparent">
          <v-tab v-for="(pageInformationItem) in websitePageInformationList" :key="pageInformationItem.name" :to="pageInformationItem.routePath">
            <v-icon left>{{ pageInformationItem.icon }}</v-icon>
            {{ pageInformationItem.name }}
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <!-- Navigation Drawer -->

    <v-navigation-drawer v-model="showNavigationDrawer" left app :stateless="!isMobileDevice">
      <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">{{ projectName }}</v-list-item-title>
            <v-list-item-subtitle>{{ projectShortDescription }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list dense>
          <div v-for="pageInformationItem in websitePageInformationList" :key="pageInformationItem.name">
            <v-list-item link exact :key="pageInformationItem.name" :to="pageInformationItem.routePath">
              <v-list-item-title>
                <v-icon left>{{ pageInformationItem.icon }}</v-icon>
                <span>{{ pageInformationItem.name }}</span>
              </v-list-item-title>
            </v-list-item>

            <v-divider v-if="pageInformationItem.showBottomBorder"></v-divider>
          </div>

        </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

import OrderProductButton from '../ProductResource/OrderProductButton.vue'
import UploadProductButton from '../ProductResource/UploadProductButton.vue'

import { WEB_PAGE_INFORMATION_LIST } from '../../store/constants-2'

@Component({
  components: {
    OrderProductButton,
    UploadProductButton
  }
})
class WebsiteHeader extends Vue {
  @State('projectName') projectName?: string
  @State('projectShortDescription') projectShortDescription?: string
  @State('isMobileDevice') isMobileDevice?: boolean

  showNavigationDrawer = false

  websitePageInformationList = WEB_PAGE_INFORMATION_LIST
}

export default WebsiteHeader
</script>
