<template>
  <div class="about-view">
    <div>
      <h1 class="display-1">
        <v-icon left size="60">storefront</v-icon>
        <span>YouStore</span>
      </h1>
      <p>
        A <b>freestore</b> like
        <a href="https://youtube.com" target="_blank">YouTube</a> (free videos) and
        <a href="https://libgen.rs" target="_blank">Libgen</a> (free books).
        Freestores provide people with
        resources for free or for very
        cheap.
      </p>
    </div>
    <div>
      <h1 class="headline">
        <v-icon left size="40">psychology</v-icon>
        <span>Our Philosophy</span>
      </h1>
      <p>
        (1) People like free things. <i>"Life is about eating free pizza." - Anonymous</i>
      </p>
      <p>
        (2) Society should be re-structured so that
        everything is free first. (ie.
        <a href="https://www.thevenusproject.com" target="_blank">The Venus Project</a>,
        <a href="https://www.resourcebasedeconomy.org" target="_blank">Resource-Based Economy</a>)
      </p>
      <p>
        (3) Food should be a human right and
        should be free.
      </p>
      <p>
        (4) Housing should be a human right
        and should be free.
      </p>
      <p>
        <strike>(5) Internet Videos should
          be a human right and should be free.</strike> (Thanks YouTube)
      </p>
      <p>
        <strike>(6) Books should
          be a human right and should be free.</strike> (Thanks Libgen)
      </p>
      <p>
        (7) There should be new politics around
        freestores.
      </p>
      <p>
        (8) Freestores eliminate poverty.
      </p>
      <p>
        (9) Freestores raise the standard
        of living for everyone.
      </p>
    </div>
    <div>
      <h1 class="headline">
        <v-icon left size="40">contact_support</v-icon>
        <span>How Does It Work?</span>
      </h1>
      <div>
        <p>(1) You donate something by uploading to our website</p>
        <p>(2) You package and ship the product to our address</p>
        <p>(3) We receive orders on the products you upload</p>
        <p>(4) We decide who receives the products
          based on <b>availability</b>,
          <b>urgency</b> and <b>work status</b>
        </p>
        <p>(5) We ship products to people</p>
      </div>
    </div>
    <div>
      <h1 class="headline">
        <v-icon left size="40">paid</v-icon>
        <span>How Do You Make Money?</span>
      </h1>
      <div>
        <p>(1) Advertisements</p>
        <p>(2) Donations</p>
      </div>
    </div>
  </div>
</template>
