<template>
  <div class="network-status-view">
    <div>
      <h1 class="headline">
        <v-icon left>stars</v-icon>
        <span>Network Status</span>
      </h1>
      <p>
        Statistics on the latest events on
        the {{ projectName }} network. Last updated
        on February 19, 2022 @ 22:34 CST
      </p>
    </div>
    <div class="mb-5">
      <h1 class="headline">
        <v-icon left>file_download</v-icon>
        <span>Product Order Statistics</span>
      </h1>
      <div>
        <ul>
          <li>0 Products Ordered</li>
          <li>0 Product Orders Fulfilled</li>
          <li>0 Product Orders Unfulfilled</li>
        </ul>
      </div>
    </div>
    <div>
      <h1 class="headline">
        <v-icon left>file_upload</v-icon>
        <span>Product Upload Statistics</span>
      </h1>
      <div>
        <ul>
          <li>2 Products Uploaded</li>
          <li>2 Products Available</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

@Component({
  components: {}
})
class NetworkStatusView extends Vue {
  @State('projectName') projectName?: string
}

export default NetworkStatusView
</script>
