<template>
  <div class="store-orders-view">
    <div>
      <h1 class="headline">
        <v-icon left>receipt_long</v-icon>
        <span>Store Orders</span>
      </h1>
      <p>
        <b>Introduction:</b> This page is the main page for the <b>{{ projectName }}</b>
        storefront orders. You can view the orders that have been
        submitted to our website here. This will be a list of
        <b>unfulfilled orders</b>. Fulfilled order statistics can be
        accessed on the <router-link to="/network-status">Network Status</router-link> page.
        Page last updated on February 20, 2022 @ 10:56 CST
      </p>
      <p>
        <b>Instructions:</b> <b>(1)</b> Browse the store orders for things
        that have been ordered. <b>(2)</b> <b>Upload a product</b> if you fill like
        you can fulfill the order.
      </p>
    </div>
    <div v-for="(productResource) in productResourceTypeList" :key="productResource.productResourceId"
      v-show="productResource.productResourceOrderList && productResource.productResourceOrderList.length > 0">
      <h1 class="headline">
        <v-icon left>{{ productResource.productResourceIconId }}</v-icon>
        <span>{{ productResource.productResourceName }}</span>
      </h1>
      <div>
        <div>
          {{ productResource.productResourceOrderList.length }} Product(s) Ordered
        </div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { PRODUCT_RESOURCE_TYPE_LIST } from '../store/constants'

@Component({
  components: {}
})
class StoreOrdersView extends Vue {
  @State('projectName') projectName?: string

  productResourceTypeList = PRODUCT_RESOURCE_TYPE_LIST
}

export default StoreOrdersView
</script>
