<template>
  <div class="store-view">
    <!--
    <div>
      <h1 class="headline">
        <v-icon left>storefront</v-icon>
        <span>Store</span>
      </h1>
      <p>
        <b>Introduction:</b> This page is the main page for the <b>{{ projectName }}</b>
        storefront. You can order products for free by
        browsing our catalogue of products or by creating
        special orders where the product ID isn't already
        listed in our catalogue. Page last updated
        on February 19, 2022 @ 22:34 CST
      </p>
      <p>
        <b>Instructions:</b> <b>(1)</b> Browse the store for things
        that are free. <b>Everything here is free</b> of cost to you.
        <b>(2)</b> Create a product order when you find something that
        you would like shipped to your address. <b>(3)</b> If you
        have something that you would give away for free, complete
        the "<b>Upload Product</b>" form. <b>(4)</b> <b>Order what you need</b>
        and please <b>be reasonable</b>!
      </p>
    </div>
    -->
    <div v-for="(productResource) in productResourceTypeList" :key="productResource.productResourceId"
      v-show="productResource.productResourceInventoryList && productResource.productResourceInventoryList.length > 0">
      <h1 class="headline">
        <v-icon left>{{ productResource.productResourceIconId }}</v-icon>
        <span>{{ productResource.productResourceName }}</span>
      </h1>
      <div>
        <div>
          {{ productResource.productResourceInventoryList.length }} Product(s) Available
        </div>
        <ProductResourceListing :productResourceList="productResource.productResourceInventoryList" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { PRODUCT_RESOURCE_TYPE_LIST } from '../store/constants'

import ProductResourceListing from '../components/ProductResource/ProductResourceListing.vue'

@Component({
  components: {
    ProductResourceListing
  }
})
class StoreView extends Vue {
  @State('projectName') projectName?: boolean

  productResourceTypeList = PRODUCT_RESOURCE_TYPE_LIST
}

export default StoreView
</script>
