<template>
  <div>
    <v-btn :text="isTextButton" depressed color="success" :icon="isMobileDevice && !showFullButton" class="mr-2" @click="isVisibleDialog = true">
      <v-icon v-if="showButtonIcon" :left="!isMobileDevice || showFullButton">
        {{ buttonIcon }}
      </v-icon>
      <span v-show="!isMobileDevice || showFullButton">
        {{ buttonText }}
      </span>
    </v-btn>
    <v-dialog v-model="isVisibleDialog" width="400">
      <v-card style="position: relative">
          <OrderProductForm v-on:toggleShowContent="toggleShowContent($event)"
            v-on:toggleShowSuccessMessage="toggleShowSuccessMessage($event)"
            :initialProductId="initialProductId" :initialProductName="initialProductName" />
      </v-card>
    </v-dialog>
    <v-dialog v-model="isVisibleSuccessDialog" width="400">
      <v-card>
        <v-container text-center>
          <v-icon color="success" size="60">check_circle</v-icon>
          <div class="ma-4">{{ successMessage }}</div>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import OrderProductForm from './OrderProductForm.vue'

@Component({
  components: {
    OrderProductForm
  }
})
class OrderProductButton extends Vue {
    @State('isMobileDevice') isMobileDevice?: boolean
    @Prop({ default: false }) isTextButton?: boolean
    @Prop({ default: false }) showFullButton?: boolean
    @Prop({ default: true }) showButtonIcon?: boolean
    @Prop({ default: 'file_download' }) buttonIcon?: string
    @Prop({ default: 'Order Product' }) buttonText?: string

    @Prop({ default: '' }) initialProductId?: string
    @Prop({ default: '' }) initialProductName?: string

    isVisibleDialog = false
    isVisibleSuccessDialog = false
    successMessage = ''

    toggleShowContent ({ isVisible }: { isVisible: boolean }) {
      this.isVisibleDialog = isVisible
    }

    toggleShowSuccessMessage (message: string) {
      this.isVisibleDialog = false
      this.isVisibleSuccessDialog = true
      this.successMessage = message
      setTimeout(() => {
        this.isVisibleSuccessDialog = false
        this.successMessage = ''
      }, 3000)
    }
}

export default OrderProductButton
</script>
