<template>
  <div class="order-product-form">
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
        <v-toolbar-title>
            <div>
                <v-icon left>file_download</v-icon>
                <span>Order Product</span>
            </div>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
        </v-btn>
    </v-app-bar>
    <div class="pa-4">
      <v-container text-center>
        <v-form ref="form" v-model="isValidForm">
          <div>
            <h1 class="headline mb-4">Requester Information</h1>
            <v-text-field label="Requester Name" outlined v-model="requesterName" prepend-icon="person" :rules="[requireInput]" aria-label="name"></v-text-field>
            <v-text-field label="Requester Email Address" outlined v-model="requesterEmailAddress" prepend-icon="email" :rules="[requireInput]" aria-label="email"></v-text-field>
            <v-text-field label="Requester Phone Number" outlined v-model="requesterPhoneNumber" prepend-icon="phone" :rules="[requireInput]" aria-label="phone number"></v-text-field>
            <v-textarea label="Requester Shipping Address" outlined v-model="requesterShippingAddress" prepend-icon="home" :rules="[requireInput]" aria-label="shipping address"></v-textarea>
            <v-select v-model="requesterWorkStatus" :items="requesterWorkStatusList" item-value="workStatusName"
              label="Requester Work Status" outlined prepend-icon="work">
              <template v-slot:item="{ item }">
                <v-icon left>{{ item.transactionIconId }}</v-icon>
                <span>{{ item.workStatusName }}</span>
              </template>
              <template v-slot:selection="{ item }">
                <v-icon left>{{ item.transactionIconId }}</v-icon>
                <span>{{ item.workStatusName }}</span>
              </template>
            </v-select>
            <v-textarea label="Requester Reason For Ordering" outlined v-model="requesterReasonForOrdering" prepend-icon="description" placeholder="ie. I would like to have a nice house to live in"></v-textarea>

            <h1 class="headline mb-4">Product Order Information</h1>
            <v-text-field label="Product ID" outlined v-model="productId" prepend-icon="description"></v-text-field>
            <v-text-field label="Product Name" outlined v-model="productName" prepend-icon="description" :rules="[requireInput]"></v-text-field>
            <v-select v-model="productCategory" :items="productCategoryList" item-value="productResourceName"
              label="Product Category" outlined prepend-icon="menu_book">
              <template v-slot:item="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.productResourceName }}</span>
              </template>
              <template v-slot:selection="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.productResourceName }}</span>
              </template>
            </v-select>
            <v-text-field label="Number of Items Ordered" type="number" outlined v-model="orderNumberOfItems" prepend-icon="description"></v-text-field>
            <v-textarea label="Order Description" outlined v-model="orderDescription" prepend-icon="description" placeholder="ie. Blue Product, Extra Cheese, etc."></v-textarea>
            <v-select v-model="orderUrgencyType" :items="orderUrgencyTypeList" item-value="orderUrgencyName"
              label="Order Urgency Type" outlined prepend-icon="priority_high">
              <template v-slot:item="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.orderUrgencyName }}</span>
              </template>
              <template v-slot:selection="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.orderUrgencyName }}</span>
              </template>
            </v-select>
          </div>
        </v-form>
      </v-container>
    </div>
    <div style="overflow-x: scroll; border-top: 1px solid #CCCCCC; position: sticky; bottom: 0px; z-index: 2; background-color: inherit;">
      <div v-if="errorMessage" style="text-align: center" class="pl-4 pr-4">
        <v-icon color="red" left>warning</v-icon>
        Error Message: {{ errorMessage }}
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <v-btn class="ma-2" color="success" tile @click="orderProduct()">
          <v-icon left>send</v-icon>
            Send Request
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

import {
  PRODUCT_RESOURCE_TYPE_LIST,
  WORK_STATUS_TYPE_LIST,
  ORDER_URGENCY_TYPE_LIST
} from '../../store/constants'

import { firebaseApp } from '../../store/firebase'
import * as uuid from 'uuid'

const firestore = firebaseApp.firestore()

@Component({
  components: {}
})
class OrderProductForm extends Vue {
  @Prop({ default: '' }) initialProductId?: string
  @Prop({ default: '' }) initialProductName?: string

  requesterName = ''
  requesterEmailAddress = ''
  requesterPhoneNumber = ''
  requesterShippingAddress = ''

  requesterWorkStatus: any = WORK_STATUS_TYPE_LIST[0].workStatusName
  requesterWorkStatusList = WORK_STATUS_TYPE_LIST

  requesterReasonForOrdering = ''

  productId = ''
  productName = ''

  productCategory = PRODUCT_RESOURCE_TYPE_LIST[0].productResourceName
  productCategoryList = PRODUCT_RESOURCE_TYPE_LIST

  orderNumberOfItems = 1
  orderDescription = ''

  orderUrgencyType: any = ORDER_URGENCY_TYPE_LIST[4].orderUrgencyName
  orderUrgencyTypeList = ORDER_URGENCY_TYPE_LIST

  isValidForm = false

  errorMessage = ''

  mounted () {
    this.productId = this.initialProductId || ''
    this.productName = this.initialProductName || ''

    this.requesterName = localStorage.getItem('requesterName') || ''
    this.requesterEmailAddress = localStorage.getItem('requesterEmailAddress') || ''
    this.requesterPhoneNumber = localStorage.getItem('requesterPhoneNumber') || ''
    this.requesterShippingAddress = localStorage.getItem('requesterShippingAddress') || ''
    this.requesterWorkStatus = localStorage.getItem('requesterWorkStatus') || ''
  }

  orderProduct () {
    /* eslint-disable */
    (this.$refs['form'] as any).validate()

    if (!this.isValidForm) {
      this.errorMessage = 'Invalid Form'
      return
    } else {
      this.errorMessage = ''
    }

    const orderId = uuid.v4()

    localStorage.setItem('requesterName', this.requesterName)
    localStorage.setItem('requesterEmailAddress', this.requesterEmailAddress)
    localStorage.setItem('requesterPhoneNumber', this.requesterPhoneNumber)
    localStorage.setItem('requesterShippingAddress', this.requesterShippingAddress)
    localStorage.setItem('requesterWorkStatus', this.requesterWorkStatus)

    firestore.collection('productOrders').doc(orderId).set({
      orderId,
      dateCreated: (new Date()).toISOString(),
      requesterName: this.requesterName,
      requesterEmailAddress: this.requesterEmailAddress,
      requesterPhoneNumber: this.requesterPhoneNumber,
      requesterShippingAddress: this.requesterShippingAddress,
      requesterWorkStatus: this.requesterWorkStatus,
      requesterReasonForOrdering: this.requesterReasonForOrdering,
      productId: this.productId,
      productName: this.productName,
      productCategory: this.productCategory,
      orderNumberOfItems: this.orderNumberOfItems,
      orderDescription: this.orderDescription,
      orderUrgencyType: this.orderUrgencyType
    })

    this.emitToggleShowSuccessMessage('Order Completed!')
  }

  requireInput (inputValue: any) {
    return !!inputValue || 'Must have input value'
  }

  requireMoreThanN1Characters (inputValue: any) {
    return inputValue.length >= 5 || 'Must have at least than 5 characters'
  }

  requireValidEmailAddress (inputValue: any) {
    // eslint-disable-next-line
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return re.test(inputValue) || 'Must be valid email address'
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }

  emitToggleShowSuccessMessage (message: string) {
    this.$emit('toggleShowSuccessMessage', message)
  }
}

export default OrderProductForm
</script>
<style lang="scss">
.order-product-form {
  position: relative !important;
  background-color: inherit !important;
}

</style>
