<template>
  <div>
    <div class="listing-container">
      <div class="ma-4" v-for="(productResource) in productResourceList" :key="productResource.productId">
        <v-card class="mx-auto" max-width="344">
          <!--
          <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
            height="200px"></v-img>
          -->
          <v-carousel cycle height="200" width="344" hide-delimiter-background show-arrows-on-hover>
            <v-carousel-item v-for="(imageSrc, i) in productResource.imageSrcList" :key="i">
              <v-img :src="imageSrc" height="200px"></v-img>
            </v-carousel-item>
          </v-carousel>

          <v-card-title>
            {{ productResource.productName }}
            <v-spacer></v-spacer>
            <span color="success">FREE</span>
          </v-card-title>
          <v-card-subtitle>
            Product ID: {{ productResource.productId }} <br>
            Inventory Amount: {{ productResource.numberOfItems }} <br>
            Quality: {{ productResource.productQualityId }}
          </v-card-subtitle>
          <v-card-actions>
            <OrderProductButton :isTextButton="true" :showFullButton="true"
              :buttonText="'Order Now'" :showButtonIcon="false"
              :initialProductId="productResource.productId"
              :initialProductName="productResource.productName" />
            <v-spacer></v-spacer>
            <v-btn v-if="productResource.productDescription" icon @click="toggleShowProductDescription(productResource.productId)">
              <v-icon>{{ showProductDescription(productResource.productId) ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showProductDescription(productResource.productId)">
              <v-divider></v-divider>
              <v-card-text>
                {{ productResource.productDescription }}
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import OrderProductButton from './OrderProductButton.vue'

@Component({
  components: {
    OrderProductButton
  }
})
class ProductResourceListing extends Vue {
    @State('isMobileDevice') isMobileDevice?: boolean

    @Prop({ default: () => [] }) productResourceList?: any[]

    productResourcePropertyTable: any = {}

    slides = [
      'First',
      'Second',
      'Third',
      'Fourth',
      'Fifth'
    ]

    colors = [
      'indigo',
      'warning',
      'pink darken-2',
      'red lighten-1',
      'deep-purple accent-4'
    ]

    isVisibleDialog = false

    updateProductResourceList () {
      for (let i = 0; i < this.productResourceList!.length; i++) {
        const productId = this.productResourceList![i].productId
        this.productResourcePropertyTable[productId] = {
          showProductDescription: false
        }
      }
    }

    created () {
      this.updateProductResourceList()
    }

    showProductDescription (productId: string) {
      return this.productResourcePropertyTable[productId].showProductDescription
    }

    toggleShowProductDescription (productId: string) {
      this.productResourcePropertyTable[productId].showProductDescription = !this.productResourcePropertyTable[productId].showProductDescription
      this.$forceUpdate()
    }

    toggleShowContent ({ isVisible }: { isVisible: boolean }) {
      this.isVisibleDialog = isVisible
    }
}

export default ProductResourceListing
</script>
<style lang="scss">

.listing-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

</style>
