<template>
  <div class="order-product-form">
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
        <v-toolbar-title>
            <div>
                <v-icon left>file_upload</v-icon>
                <span>Upload Product</span>
            </div>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
        </v-btn>
    </v-app-bar>
    <div class="pa-4">
      <v-container text-center>
        <v-form ref="form" v-model="isValidForm">
          <div>
            <h1 class="headline mb-4">Uploader Information</h1>
            <v-text-field label="Uploader Name" outlined v-model="uploaderName" prepend-icon="person" :rules="[requireInput]" aria-label="name"></v-text-field>
            <v-text-field label="Uploader Email Address" outlined v-model="uploaderEmailAddress" prepend-icon="email" :rules="[requireInput]" aria-label="email"></v-text-field>
            <v-text-field label="Uploader Phone Number" outlined v-model="uploaderPhoneNumber" prepend-icon="phone" :rules="[requireInput]" aria-label="phone number"></v-text-field>
            <v-textarea label="Uploader Reason For Uploading" outlined v-model="uploaderReasonForUploading" prepend-icon="description" placeholder="ie. I would like to provide free housing"></v-textarea>

            <h1 class="headline mb-4">Product Upload Information</h1>
            <v-text-field label="For Order ID" outlined v-model="forOrderId" prepend-icon="description"></v-text-field>
            <v-text-field label="Product Name" outlined v-model="productName" prepend-icon="description" :rules="[requireInput]"></v-text-field>
            <v-select v-model="productCategory" :items="productCategoryList" item-value="productResourceName"
              label="Product Category" outlined prepend-icon="menu_book">
              <template v-slot:item="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.productResourceName }}</span>
              </template>
              <template v-slot:selection="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.productResourceName }}</span>
              </template>
            </v-select>
            <v-text-field label="Product Inventory Amount" type="number" outlined v-model="productInventoryAmount" :rules="[requirePositiveNumber]" prepend-icon="description"></v-text-field>
            <v-textarea label="Product Description" outlined v-model="productDescription" prepend-icon="description" :rules="[requireInput]" placeholder="ie. Blue Product, Extra Cheese, etc."></v-textarea>
            <v-select v-model="productConditionType" :items="productConditionTypeList" item-value="productQualityName"
              label="Product Condition Type" outlined prepend-icon="help_outline">
              <template v-slot:item="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.productQualityName }}</span>
              </template>
              <template v-slot:selection="{ item }">
                <v-icon left>{{ item.productResourceIconId }}</v-icon>
                <span>{{ item.productQualityName }}</span>
              </template>
            </v-select>
          </div>
        </v-form>
      </v-container>
    </div>
    <div style="overflow-x: scroll; border-top: 1px solid #CCCCCC; position: sticky; bottom: 0px; z-index: 2; background-color: inherit;">
      <div v-if="errorMessage" style="text-align: center" class="pl-4 pr-4">
        <v-icon color="red" left>warning</v-icon>
        Error Message: {{ errorMessage }}
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <v-btn class="ma-2" color="primary" tile @click="uploadProduct()">
          <v-icon left>file_upload</v-icon>
          Upload Product
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

import {
  PRODUCT_RESOURCE_TYPE_LIST
} from '../../store/constants'

import {
  PRODUCT_QUALITY_TYPE_LIST
} from '../../store/constants-2'

import { firebaseApp } from '../../store/firebase'
import * as uuid from 'uuid'

const firestore = firebaseApp.firestore()

@Component({
  components: {}
})
class OrderProductForm extends Vue {
  @Prop({ default: '' }) initialForOrderId?: string
  @Prop({ default: '' }) initialProductName?: string

  uploaderName = ''
  uploaderEmailAddress = ''
  uploaderPhoneNumber = ''

  uploaderReasonForUploading = ''

  forOrderId = ''
  productName = ''

  productCategory = PRODUCT_RESOURCE_TYPE_LIST[0].productResourceName
  productCategoryList = PRODUCT_RESOURCE_TYPE_LIST

  productInventoryAmount = 1
  productDescription = ''

  productConditionType: any = PRODUCT_QUALITY_TYPE_LIST[4].productQualityName
  productConditionTypeList = PRODUCT_QUALITY_TYPE_LIST

  isValidForm = false

  errorMessage = ''

  mounted () {
    this.forOrderId = this.initialForOrderId || ''
    this.productName = this.initialProductName || ''

    this.uploaderName = localStorage.getItem('uploaderName') || ''
    this.uploaderEmailAddress = localStorage.getItem('uploaderEmailAddress') || ''
    this.uploaderPhoneNumber = localStorage.getItem('uploaderPhoneNumber') || ''
  }

  uploadProduct () {
    /* eslint-disable */
    (this.$refs['form'] as any).validate()

    if (!this.isValidForm) {
      this.errorMessage = 'Invalid Form'
      return
    } else {
      this.errorMessage = ''
    }

    const productId = uuid.v4()

    localStorage.setItem('uploaderName', this.uploaderName)
    localStorage.setItem('uploaderEmailAddress', this.uploaderEmailAddress)
    localStorage.setItem('uploaderPhoneNumber', this.uploaderPhoneNumber)

    firestore.collection('productUploads').doc(productId).set({
      productId,
      dateCreated: (new Date()).toISOString(),

      uploaderName: this.uploaderName,
      uploaderEmailAddress: this.uploaderEmailAddress,
      uploaderPhoneNumber: this.uploaderPhoneNumber,

      uploaderReasonForUploading: this.uploaderReasonForUploading,

      forOrderId: this.forOrderId,
      productName: this.productName,
      productCategory: this.productCategory,
      productInventoryAmount: this.productInventoryAmount,
      productDescription: this.productDescription,
      productConditionType: this.productConditionType
    })

    this.productName = ''
    this.productDescription = ''
    this.productInventoryAmount = 1


    this.emitToggleShowSuccessMessage('Upload Completed!')
  }

  requireInput (inputValue: any) {
    return !!inputValue || 'Must have input value'
  }

  requireMoreThanN1Characters (inputValue: any) {
    return inputValue.length >= 5 || 'Must have at least than 5 characters'
  }

  requirePositiveNumber (inputValue: any) {
    return inputValue > 0 || 'Must be positive value'
  }

  requireValidEmailAddress (inputValue: any) {
    // eslint-disable-next-line
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return re.test(inputValue) || 'Must be valid email address'
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }

  emitToggleShowSuccessMessage (message: string) {
    this.$emit('toggleShowSuccessMessage', message)
  }
}

export default OrderProductForm
</script>
<style lang="scss">
.order-product-form {
  position: relative !important;
  background-color: inherit !important;
}

</style>
