<template>
  <div>
    <v-btn :text="isTextButton" depressed color="primary" :icon="isMobileDevice && !showFullButton" class="mr-2" @click="isVisibleDialog = true">
      <v-icon :left="!isMobileDevice || showFullButton">file_upload</v-icon>
      <span v-show="!isMobileDevice || showFullButton">Upload Product</span>
    </v-btn>
    <v-dialog v-model="isVisibleDialog" width="400">
      <v-card style="position: relative">
          <UploadProductForm v-show="isVisibleDialog" v-on:toggleShowContent="toggleShowContent($event)"
            v-on:toggleShowSuccessMessage="toggleShowSuccessMessage($event)" />
      </v-card>
    </v-dialog>
    <v-dialog v-model="isVisibleSuccessDialog" width="400">
      <v-card>
        <v-container text-center>
          <v-icon color="success" size="60">check_circle</v-icon>
          <div class="ma-4">{{ successMessage }}</div>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import UploadProductForm from './UploadProductForm.vue'

@Component({
  components: {
    UploadProductForm
  }
})
class UploadProductButton extends Vue {
    @State('isMobileDevice') isMobileDevice?: boolean
    @Prop({ default: false }) isTextButton?: boolean
    @Prop({ default: false }) showFullButton?: boolean

    @Prop({ default: '' }) initialProductName?: string

    isVisibleDialog = false
    isVisibleSuccessDialog = false
    successMessage = ''

    toggleShowContent ({ isVisible }: { isVisible: boolean }) {
      this.isVisibleDialog = isVisible
    }

    toggleShowSuccessMessage (message: string) {
      this.isVisibleDialog = false
      this.isVisibleSuccessDialog = true
      this.successMessage = message
      setTimeout(() => {
        this.isVisibleSuccessDialog = false
        this.successMessage = ''
      }, 3000)
    }
}

export default UploadProductButton
</script>
