<template>
  <v-app>
    <WebsiteHeader />
    <v-main>
      <v-container style="max-width: 900px;">
        <router-view></router-view>
        <WebsiteFooter />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State, Mutation } from 'vuex-class'

import { TOGGLE_IS_MOBILE_DEVICE } from './store'

import isMobile from 'ismobilejs'

import WebsiteHeader from './components/Website/WebsiteHeader.vue'
import WebsiteFooter from './components/Website/WebsiteFooter.vue'

@Component({
  components: {
    WebsiteHeader,
    WebsiteFooter
  }
})
class App extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  // eslint-disable-next-line
  @Mutation(TOGGLE_IS_MOBILE_DEVICE) TOGGLE_IS_MOBILE_DEVICE?: any

  async mounted () {
    this.watchMobileSettings()
  }

  watchMobileSettings () {
    this.TOGGLE_IS_MOBILE_DEVICE(window.innerWidth < 600 || isMobile().any)

    window.addEventListener('resize', () => {
      // if windows size < 600px, let's say mobile, otherwise not
      const isMobileDevice = window.innerWidth < 600 || isMobile().any

      this.TOGGLE_IS_MOBILE_DEVICE(isMobileDevice)

      if (isMobileDevice) {
        //
      }
    })
  }
}

export default App
</script>
